@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  background-image: url("./bg.png");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 1rem;
  width: 1000px;
  max-width: 100%;
}

nav {
  padding: 0.5rem 0;
}

.pre-nav {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
